<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>E-commerce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div>
        <h1>E-commerce example!</h1>
        <p>Made by Carlo Laitano, Henrique Kops & Larissa Salerno</p>

        <h2>Products</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td><input value="Add to cart" type="button" onclick="location.href='/store';" /><td>
                </tr>
            {% endfor %}
        </table>

        <input value="Access cart" type="button" onclick="location.href='/cart';" />
    </div>
</body>
</html>